html, body {
  width: 100%;
  height: 100%;
  margin:0 auto;
  box-sizing: border-box;
}


.wrapper {
  display: flex;
.side-bar {
  box-sizing: border-box;
  color: #fff;
  width: 300px;
  .header {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    }

    &__lists {
      display: inline-block;
      float: right;
      list-style: none;
      .list {
        display: inline-block;
          .icon {
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }

    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px;
      overflow: scroll;
      .group {
        box-sizing: border-box;
        padding: 20px 0 40px;
        &__name {
          color: #fff;
          font-size: 15px;
        }
        &__message {
          color: #fff;
          font-size: 11px;
          margin-top: 5px;
        }
        &__link {
          text-decoration: none;
        }
      }
    }
  }

  .chat {
    width: calc(100% - 300px);
    .header {
      box-sizing: border-box;
      height: 100px;
      padding: 0 40px;
      .left-header {
        float: left;
        &__title {
          color: #333;
          font-size: 20px;
          margin-top: 35px;
        }
        &__members {
          display: flex;
          color: #999;
          font-size: 12px;
          margin-top: 15px;
          list-style: none;
          .member {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
    .right-header {
      border: 1px solid #38AEF0;
      color: #38AEF0;
      float: right;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__btn {
        color: #38AEF0;
        text-decoration: none;
      }
    }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    padding: 46px 40px 0;
  }
  .message {
    margin-bottom: 40px;
  }
  .upper-message {
    display: flex;
    &__user-name {
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
    }
    &__date {
      color: #999;
      font-size: 12px;
      padding-left: 10px;
    }
  }
  .lower-message {
    margin-top: 10px;
    &__content {
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        box-sizing: border-box;
        float: left;
        height: 50px;
        padding: 0 10px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: #fff;
        float: left;
        height: 50px;
        padding-right: 10px;
         &__image {
        font-size: 20px;
        line-height: 50px;
        }
      }
      .hidden {
          display: none;
        }
      &__submit {
        background-color: #38AEF0;
        border: none;
        color: #fff;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}
